@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  /* --clr-primary: rgb(54, 112, 199); */
  --clr-light: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  --clr-dark: rgba(4, 63, 58, 0.8);
  --clr-lists: rgba(30, 125, 117, 0.35);
  --clr-warning: rgba(126, 52, 52, 0.7);
  --clr-background: linear-gradient(
    to right bottom,
    rgba(9, 145, 145, 0.7),
    rgba(77, 150, 150, 0.9)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-background);
}
main {
  display: flex;
  /* flex-direction: column; */
  align-items: start;
  min-height: 90vh;
  width: 80%;
  /* justify-content: center; */
  /* overflow: hidden; */
  /* z-index: 2; */
  border-radius: 2rem;
  background: rgba(255, 0, 0, 0.2);
  backdrop-filter: blur(0.6rem);
}
.main-container {
  flex: 4;
  padding: 10px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  flex: 1;
  width: 100%;
  min-height: 90vh;
  align-items: stretch;
  justify-content: flex-start;
  text-align: center;
  background: var(--clr-light);
  border-radius: 2rem;
}

.item,
.dropdown {
  background: var(--clr-light);
  border: none;
  padding: 0.1rem;
  border-radius: 1rem;
}
.dropdown {
  margin-left: 2rem;
}
.dropdown * {
  border-radius: 1rem;
  background-color: rgb(88, 138, 138);
}
.lists {
  height: 10rem;
  margin-top: 1rem;
  border-radius: 2rem;
  color: var(--clr-light);
  padding: 0.5rem;
  background: var(--clr-lists);
  backdrop-filter: blur(0.6rem);
}
.btn {
  background-color: var(--clr-lists);
  padding: 0.1rem;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:hover {
  color: white;
}

.div-items {
  margin-top: 10px;
  background: var(--clr-light);
  border-radius: 1rem;
}

.buttons {
  /* width: fit-content; */
  /* display: flex; */
  /* align-items: center; */
  /* align-content: center; */
  /* background-color: red; */
  justify-content: center;
  margin-top: 10px;
  border-radius: 1rem;
}
.btn-s {
  background-color: var(--clr-dark);
}

.btn-x {
  margin-left: 2px;
  margin-right: 5px;
  background-color: var(--clr-warning);
}
#text-area {
  margin-top: 10px;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  height: 3rem;
}
#quick-search {
  width: 150px;
  transition: width 0.4s ease;
}
